p{
  color: black;
  font-size: 32px;
  text-align: center;
}
p1{
  text-decoration: underline;
  color: darkblue;
  font-size: 32px;
  text-align: center;
}
li {
    list-style-type: none;
}
.hidden-links{
  text-decoration: none;
  color: #536482;
}
#first-paragraph {
  font-family: helvetica, sans-serif;
  font-size: 32px;
  color: orange;
}
body{
  background-color: green;
}
